{% extends 'DataDashboard.html' %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>COUNTYID</th>
        <th>UNEMPLOYED_PEOPLE</th>
        <th>UNEMPLOYMENT_RATE</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('#data').DataTable({
      ajax: '/api/unemploymentData',
      serverSide: true,
      columns: [
        {data: 'COUNTYID', orderable: true, search: false},
        {data: 'UNEMPLOYED_PEOPLE', orderable: true, search: false},
        {data: 'UNEMPLOYMENT_RATE', orderable: true, search: false}
      ],
    });
  });


  
</script>

{% endblock %}