{% extends 'DataDashboard.html' %}

{% block content %}

  <table class="table">
    <tr class="table_header">
      {% for header in headings %}
          <th>{{ header }}</th>
      {% endfor %}
    </tr>
    
    {% for row in result %}
    <tr class="table_row">
      {% for result in row%}
        <td class="table_cell">{{ result }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block body %}
<p>Total unemployed people: {{ tot_unemp_people }}</p>
<p>Average unemployed people: {{ avg_unemp_people }}</p>
<p>Average unemployed rate:{{ avg_unemp_rate }}</p>
{% endblock %}

{% block scripts %}
<script>
  
</script>

{% endblock %}