@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
  height:1490px;

}

.body-container{
    margin-left: 3rem;
    margin-right: 3rem;
}

.site-navbar{
  color:black;  
  padding: .5rem;
  padding-bottom: -25px;
  margin-bottom: 2rem;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 1px;
  padding-left:3rem;
  padding-right:3rem;

}

#drop-down{
  color: black;
}

.container-navbar div{
    margin:0;
    padding:0;
    height: 25px;
}

#dropdown-row{
  margin-bottom: 2rem;
  margin-left: 0;
  padding-left: 0;
}
#dropdown-col{
  margin-left: 0;
  padding-left: 0;

}

#dropdown-button{
  color: black;

}

.table{
  border-spacing: 0;
  margin: 1rem;
  background: white;
}

.table_row:nth-child(even){
  background:#f7f7f7
}

.table_header{
  text-align: left;
}

.table_cell{
  padding: 8px;
}

#table{
  border: 1px solid white;
  width:100%;
  height: 100%;
  overflow: scroll;
}

#Calc p{
  font-size: 1.1em;
}

.bold{
  font-weight: bold;
}

#submit-btn{
  margin-top:2.5rem;
}

select {
  width: 40%;
}